.whatsmarked {
  white-space: normal;
}

.whatsmarked p {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.whatsmarked p:last-child {
  margin: 0;
}

.whatsmarked code {
  white-space: break-spaces;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
}

.whatsmarked pre {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.whatsmarked pre code {
  background: none;
  padding: unset;
}

.whatsmarked blockquote {
  margin: 0 0 0.5em 0;
  border-left: 3px solid;
  padding-left: 1em;
}

.whatsmarked .graytext {
  opacity: 0.6;
}
